body{
    padding: 0;
    margin: 0;
    background:#f2f4f4;
    font-family: bold;
}

header{
    width: 100%;
    height: 80px;
    background: green;
    display:flex;
    justify-content: start;
    align-items: center;
    position:relative;




}

header>a>img{
    width: 70px;
    height: 65px;
    margin-left: 18px;
    margin-right: 15px;
}
header>img{
    width: 70px;
    height: 65px;
    margin-left: 18px;
    margin-right: 15px;
}

header>li{
    list-style-type: none;
    padding: 10px;


}

header>li>a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
header>li{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.username{
    width: 330px;
    height: 80px;
    position: absolute;
    top: 50%;
    margin-top:-40px;
    left: 88%;
    margin-left: -165px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 18px;
    color: white;

}

.username>li{
    list-style-type: none;
    padding: 10px;
    color: white;
}

.username>li>a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.username>li{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hover>a:hover{
    text-decoration:overline;
    color: white;
    font-weight: 600;
}



.register>a:hover{
    font-weight: bold;
    background: white;
    color: green;
    padding: 5px;
    border-radius: 5px;
}

.skizb{
    width: 100%;
    height: 500px;
    margin-top: 28px;


}

.kak{
    width:100%;
    height:30px;
    margin-bottom:13px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.kak>h1{
    margin-right:24px;
    margin-bottom: 5px;
    font-weight: bold;

}

.content1{
    width: 75%;
    height: 450px;
    margin: 0 auto;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hovo{

    width: 590px;
    height: 370px;
}

.hovo>img{
    width:100%;
    height:100%;
    border-radius: 15px;
}

.text{
    width:700px;
    height:250px;
    background: #ffffff;
}



.text>h1{
    font-size: 20px;
    margin: 0px;
    color: #041b26;
    font-weight: 700;
}

.text>.prostoo{
    font-size: 35px;

}

.button{
    width: 200px;
    height: 50px;
    border-radius: 7px;
    background:green;
    color: white;
    margin-top: 30px;
    border: none;
    font-weight: 700;
}

.button:hover{
    transition-duration: 1s;
    background: darkgreen;

}

.hash1{
    margin-bottom: ;
}

.ereqblok{
    width:75%;
    height: 210px;
    margin: 0 auto;
    margin-bottom: 30px;
    background: #ffffff ;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.blok1{
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
    background:green;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.blok1>span{
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.vecblok{

    display: flex;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
    margin-bottom: 35px;
    width: 80%;
    height: 210px;

}

.arajinbloc{
    padding: 15px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 200px;





}
.arajinbloc>img{
    width: 100px;
    height: 50px;
}
.arajinbloc>.razpechat{
    font-size: 25px;
    font-weight: bold;
    color: green;
}

.apisanya{
text-align: center;
font-size: 17px;
font-weight: 700;
}

.futer{
    width: 100%;
    height: 25px;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    color:white;
}

.futer>p{
    margin:0;
}